body{
    margin: 0;
}

.notification-container{
    background-color: #00000070;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert{
    width: 500px;
    padding: 15px 10px;
    text-align: center;
    border-radius: 15px;
}

.alert-primary{
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;

}